<!DOCTYPE html>
<html>
<head>
  <title>Joust</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- flash messages for devise -->
  <!-- <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p> -->

<!--Bootstrap current_user-->
  <script type="text/javascript">
    <% if user_signed_in? %>
      window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user).html_safe %>
      window.authenticityToken = "<%= form_authenticity_token %>"
    <% end %>
  </script>

  <%= yield %>


</body>
</html>
